body {
    font-family: sans-serif;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    border-bottom: 2px solid #ddd;
}



.plusBtn {
    margin-left: 50px;
    padding: 12px 15px;
    border-radius: 16px;
    border: none;
}

.minusBtn {
    margin-left: 20px;
    padding: 12px 17px;
    border-radius: 16px;
    border: none;
    text-align: center;
}
.setting {
    margin-left: 20px;
    padding: 12px 15px;
    border-radius: 16px;
    border: none;
    text-align: center;
}

#addDialog{
    border: none;
    width: 500px;
    height: 300px;
    border-radius: 50px;
}

.menu-box{
    background-color: #f2f2f2;
    text-align: center;
    font-family: MaplestoryOTFLight;
    margin-bottom: -10px;
    
}

.menu-box>ul>li{
    display: inline-block;
    padding: 10px 30px;
}
.menu-box>ul>li>a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}