body {
    font-family: sans-serif;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* 테두리 간격 없애기 (선이 겹치지 않게) */
}

th,
td {
    border-bottom: 1px solid #ddd;
    /* 아래쪽에만 얇은 회색 선 긋기 */
    padding: 10px;
    /* 내용과 테두리 사이 여백 */
    text-align: center;
    /* 텍스트 왼쪽 정렬 */
}

/* 제목 행(Header) 스타일 (선택사항) */
th {
    background-color: #f2f2f2;
    border-bottom: 2px solid #ddd;
    /* 제목 아래는 조금 더 진하게 */
}



.plusBtn {
    margin-left: 50px;
    padding: 12px 15px;
    border-radius: 16px;
    border: none;
}

.minusBtn {
    margin-left: 20px;
    padding: 12px 15px;
    border-radius: 16px;
    border: none;
    text-align: center;
}

#addDialog{
    border: none;
    width: 500px;
    height: 300px;
    border-radius: 50px;
}